
.accordion {
  border: 1px solid #6D929B;
  border-radius: 1rem;
  width: 60rem;
  max-width: 60rem;
  padding: 1rem;
  margin: 0 auto;
}

.accordion [type="checkbox"] {
  display: none;
}

.accordion ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.accordion ul li {
  padding: 0;
  margin: 0;
}

.accordion label:hover {
  color: $elegant-color;
}

.accordion label {
  height: 4rem;
  line-height: 4rem;
  padding-left: 1rem;
  vertical-align: middle;
  display: block;
  cursor: pointer;
  color: #FFFFFF;
  background-color: #2BBBAD;
  font-size: 2rem;
  -moz-box-shadow: inset 0 -1px #FFFFFF;
  -webkit-box-shadow: inset 0 -1px #FFFFFF;
  box-shadow: inset 0 -1px #FFFFFF;
  text-transform: uppercase;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  transition: color 0.5s;
}

.accordion__content {
  font-size: 1.4rem;
  background: #F5FAFA;
  color: $elegant-color;
  max-height: 0;
  padding: 0 2rem;
  overflow: hidden;
  -moz-transition: max-height 1s;
  -webkit-transition: max-height 1s;
  transition: max-height 1s;
}

.accordion [type="checkbox"]:checked ~ label {
  color: $elegant-color;
}
.accordion [type="checkbox"]:checked ~ label ~ .accordion__content {
  max-height: 30rem;
}

.accordion__content h3 {
  font-size: 1.8rem;
  padding-left: 0;
  font-weight: 600;
  color: $elegant-color;
}

.accordion__content h4 {
  margin-bottom: 0;
}

.accordion__content p {
  padding: 1rem;
}