.tab-component [type=radio] {
  display: none;
}

.tab-component {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  font-size: 1.6rem;
  height: 25rem;
  position: relative;
}

.tab-component .tab-up {
  background-color: $tw-color;
  color: #FFFFFF;
  display: inline-block;
  font-weight: bold;
  height: 4rem;
  margin-right: -5px;
  padding: 1rem 0;
  text-align: center;
  width: 15rem;

  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: background-color 0.5s, transform 0.5s, height 1s;
  -moz-transition: background-color 0.5s , transform 0.5s, height 1s;
  transition: background-color 0.5s , transform 0.5s, height 1s;

}

.tab-component .tab-up:hover {
  background-color: $stylish-color;
  cursor: pointer;

  -moz-transform: translateY(-2rem);
  -webkit-transform: translateY(-2rem);
  transform: translateY(-2rem);
}

.tab-component .content {
  background: #ffffff;
  bottom: 0;
  display: none;
  left: 0;
  padding: 2rem;
  position: absolute;
  right: 0;
  top: 5rem;
  transition: background-color 1s;
}

.tab-component [type=radio]:checked + .tab-up {
  -moz-transform: translateY(-2rem);
  -webkit-transform: translateY(-2rem);
  transform: translateY(-2rem);

  background-color: $stylish-color;
  cursor: default;
  height: 6rem;

}
.tab-component [type=radio]:checked + .tab-up + .content {
  display: inline-block;
}


.tab-component .disabled {
  color: grey;
  cursor: default;
  pointer-events: none;
}

.tab-component .tab-slider, #slider {
  display: inline-block;
  margin-right: -5px;
  font-weight: bold;
  text-align: center;
  background-color: $warning-color;
  width: 15rem;
  height: auto;
  padding: 2rem 0;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

.tab-component .tab-slider:hover {
  cursor: pointer;
}

#slider {
  background-color: transparent;
  position: absolute;
  border-bottom: 3px solid #ffffff;
  margin: 0px 10px;
  transition: transform 0.5s;
  width: 13rem;
}

.tab-component #r1:checked ~ #slider {
  transform: translate(-60rem, 0);
}

.tab-component #r2:checked ~ #slider {
  transform: translate(-45rem, 0);
}

.tab-component #r3:checked ~ #slider {
  transform: translate(-30rem, 0);
}

.tab-component #r4:checked ~ #slider {
  transform: translate(-15rem, 0);
}

.tab-component #r1:checked + .tab-slider + .content,
.tab-component #r2:checked + .tab-slider + .content,
.tab-component #r3:checked + .tab-slider + .content,
.tab-component #r4:checked + .tab-slider + .content{
  display: inline-block;
}

.tab-component #r1:checked + .tab-slider,
.tab-component #r2:checked + .tab-slider,
.tab-component #r3:checked + .tab-slider,
.tab-component #r4:checked + .tab-slider{
  color: #FFFFFF;
}
