.tab-component {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  font-size: 1.6rem;
  height: 25rem;
  position: relative;
}

.tab-component [type=radio] {
  display: none;
}

.tab-component label {
  background-color: $tw-color;
  color: #FFFFFF;
  display: inline-block;
  font-weight: bold;
  height: 4rem;
  margin-right: -5px;
  padding: 1rem 0;
  text-align: center;
  width: 15rem;

  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: background-color 0.5s, transform 0.5s, height 1s;
  -moz-transition: background-color 0.5s , transform 0.5s, height 1s;
  transition: background-color 0.5s , transform 0.5s, height 1s;

}

.tab-component label:hover {
  background-color: $stylish-color;
  cursor: pointer;

  -moz-transform: translateY(-2rem);
  -webkit-transform: translateY(-2rem);
  transform: translateY(-2rem);
}

.tab-component .content {
  background: #ffffff;
  bottom: 0;
  display: none;
  left: 0;
  padding: 2rem;
  position: absolute;
  right: 0;
  top: 5rem;
  transition: background-color 1s;
}

.tab-component [type=radio]:checked + label {
  -moz-transform: translateY(-2rem);
  -webkit-transform: translateY(-2rem);
  transform: translateY(-2rem);

  background-color: $stylish-color;
  cursor: default;
  height: 6rem;

}

.tab-component [type=radio]:checked + label + .content {
  display: inline-block;
}
