
/* -------- tooltip scale from corner ----------*/
.tt-scale-wrapper {
  height:50px;
  margin: 0 auto;
  width:150px;
}


.tt-scale-wrapper__button{
  position: relative;
  width:150px;
  height:50px;
  line-height: 30px;
  top: 0;
  left: 0;
}


.tt-scale-wrapper__icon {
  background-color: transparent;
  height: 15px;
  left: 6px;
  position: relative;
  top: -56px;
  width:15px;
  z-index: 1;
  float: right;
}


.tt-scale-wrapper__content {
  color: #FFFFFF;
  opacity: 0;
  position: absolute;
  visibility: hidden;
  padding: 0.5rem;
  text-align: left;
  line-height: 2rem;
}

.tt-scale-wrapper__icon  img {
  background-size: cover;
  opacity: 1;
  visibility: visible;
  width:15px;
}

.tt-scale-wrapper__icon:hover {
  background-color: $info-color;
  height: 25rem;
  width: 150px;
  -webkit-transition: height 0.5s .5s, width 0.5s;
  -moz-transition: height 0.5s .5s, width 0.5s;
  -ms-transition: height 0.5s .5s, width 0.5s;
  -o-transition: height 0.5s .5s, width 0.5s;
  transition: height 0.5s .5s, width 0.5s;
}

.tt-scale-wrapper__icon:hover img {
  opacity: 0;
  visibility: hidden;
}

.tt-scale-wrapper__icon:hover .tt-scale-wrapper__content {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s 0.75s;
  -moz-transition: opacity 0.5s 0.75s;
  -ms-transition: opacity 0.5s 0.75s;
  -o-transition: opacity 0.5s 0.75s;
  transition: opacity 0.5s 0.75s;
}


.tt-scale-wrapper__icon:not(:hover) .tt-scale-wrapper__content {
  opacity: 0;
  visibility: hidden;
}


