$font-family: 'Roboto', sans-serif;
$base-font-size: 10px;
$primary-color: #4285f4;
$bg--gray: #959595;
$text--dark-gray: #212121;
$stylish-color: #4B515D;
$stylish-color-dark: #3E4551;

//Contextual Colors
$success-color: #00C851;
$success-color-hover: #00D255;
$info-color: #33b5e5;
$info-color-hover: #49BDE8;
$warning-color: #eb9316;
$warning-color-hover: #FF961F;
$danger-color: #c12e2a;
$danger-color-hover: #DB0000;
$elegant-color: #2E2E2E;
$elegant-color-hover: #3B3B3B;
$unique-color: #1C2331;
$unique-color-hover: #252f41;
$grey-lighten-2: #e0e0e0;

//Badge
$badge__bg--gray: #ababab;
$badge__border--gray: #757575;
$text--black: #020102;

//Breadcrumb
$breadcrumb-active: #212121;

//Dropdown
$dropdown__seperator: #020102;

//list-group
$list-group__bg--gray: #959595;
$list-group--hover: #969696;


